@import '../../../theme.scss';

/* NOTE: Movie posters are typically 2000x3000 */
/*
  Possible sizes:
  - 180x270 and 480x270
  - 150x225 and 400x225
*/

.media-row {
  margin-top: 16px;
  > .media-title {
    position: relative;
    margin-bottom: 8px;
  }
}

.swiper-container {
  //width: 600px;
  height: auto;
}

.swiper-slide {
  height: auto;
  width: 180px;
  img {
    height: 270px;
    border-radius: 2px;
  }
  &.swiper-slide-wide {
    width: 480px;
  }
  > .image-wrapper {
    position: relative;
    border: 2px solid transparent;
    > a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 2px;
      &:focus,
      &:hover,
      &:active {
        border: 2px solid $color-primary;
      }
    }
  }
  > a {
    padding: 0px 4px;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
  }
  > .mat-caption {
    padding: 0 5px;
    line-height: 16px;
    font-size: 15px;
  }
}

.media-row {
  > .media-title {
    position: relative;
    h3 {
      display: inline-block;
    }
    .mat-icon {
      font-size: 34px;
      height: 34px;
      width: 34px;
    }
    > .media-buttons {
      position: absolute;
      right: 0;
      bottom: 0;
      > button {
        min-width: 0;
        padding: 0 8px;
        &:first-of-type {

        }
        &:last-of-type {
          margin-left: 4px;
        }
      }
    }
  }
}
